<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hipecraft Studio</title>
    <style>
      body {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        font-family: Arial, sans-serif;
        background-color: #f0f0f0;
        text-align: center;
      }
      h1 {
        font-size: 3rem;
        margin-bottom: 1rem;
      }
      p {
        font-size: 1.5rem;
        color: #555;
        margin-bottom: 2rem;
      }
      .buttons {
        display: flex;
        justify-content: center;
        gap: 1rem;
      }
      .buttons a {
        text-decoration: none;
        padding: 0.75rem 1.5rem;
        background-color: #007bff;
        color: white;
        border-radius: 5px;
        font-weight: bold;
        transition: background-color 0.3s;
      }
      .buttons a:hover {
        background-color: #0056b3;
      }
    </style>
  </head>
  <body>
    <div>
      <h1>Hipecraft Studio</h1>
     <p style=" font-size: 16px; opacity: 0.5; ">Instead of researching your competitors' backlinks, try using your brain a little :)</p>
      <div class="buttons">
        <a href="https://masalbaz.com/masal-dinle/" target="_blank">Masal Oku</a>
        <a href="https://masalbaz.com/" target="_blank">Masal Dinle</a>
      </div>
    </div>
  </body>
</html>
